@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple');
.custumTitle{

	font-family: 'Rancho',Arial, cursive;
	
}
 #test {
 		-moz-animation-duration: 3s;
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 2s;
        -moz-animation-delay: 2s;
        -webkit-animation-iteration-count: 2;
        -moz-animation-iteration-count: 2;
        animation-duration: 3s;
        animation-duration: 3s;
        animation-delay: 2s;
        animation-delay: 2s;
        animation-iteration-count: 2;
        animation-iteration-count: 2;
        }
#welcomeTitle{

	font-family: 'Rancho',Arial, cursive;
	
}